@import "tailwindcss";

:root {
  --background: #ffffff;
  --background-image: url('../../public/bg-desktop-light.jpg');
  --foreground: #171717;
  --secondary: white;
  --secondary-foreground: hsl(234, 39%, 85%); /* Purple 300 */
  --input: hsl(235, 19%, 35%); /* Navy 850 */
  --accent: hsl(220, 98%, 61%);
  --accent-foreground: hsl(235, 16%, 43%); /* Purple 600 */
  --hover: hsl(235, 21%, 11%); /* Navy 950 */
  --error: red;
}

.dark {
  --background: hsl(235, 21%, 11%); /* Navy 950 */
  --background-image: url('../../public/bg-desktop-dark.jpg');
  --foreground: #ededed;
  --secondary: hsl(235, 24%, 19%); /* Navy 900 */
  --secondary-foreground: hsl(233, 14%, 35%); /* Purple 700 */
  --input: hsl(234, 39%, 85%); /* Purple 300 */
  --hover: hsl(236, 33%, 92%); /* Purple 100 */
  --error: #cd5c5c;
}

@theme inline {
  --breakpoint-xs: 425;

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-secondary: var(--secondary);
  --color-input: var(--input);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-hover: var(--hover);
  --color-error: var(--error);
}

body {
  color: var(--foreground);
  font-family: var(--font-josefin-sans), sans-serif;
  background: var(--background);
  background-image: var(--background-image);
  @apply min-h-screen bg-no-repeat! bg-fixed! bg-top! bg-size-[100%_38%]! flex items-start justify-center;
}

html, body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

@media (max-width: 768px) {
  body {
    background-size: 100% 30% !important;
    padding-top: 4rem;
  }
}